body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    color: #fff;
    padding: 20px;
    background-color: #000;
    font-weight: 900;
    text-align: center;
}

.Cards_Wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.Card {
    width: 22%;
    border: 1px solid rgba(0, 47, 52, .2);
    border-radius: 4px;
    margin: 5px;
    overflow: hidden;
}

.icon img {
    width: 25px;
}

.Image_Wrapper img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.Image_Wrapper {
    background: #000;
    height: 130px;
    width: 100%;
    object-fit: contain;
    position: relative;
}

.titleIcon {
    display: flex;
    justify-content: space-between;
}

.Title {
    width: 90%;
}

.Title a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.icon {
    width: 10%;
    text-align: right;
}

.Card_body {
    padding: 10px;
    position: relative;
}

.price h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 8px;
}

.areaTime {
    position: absolute;
    bottom: 2%;
}

.areaTime span {
    font-size: 13px;
    margin-right: 5px;
}

.Card_body {
    height: 130px;
}

@media screen and (max-width:1024px) {
    .Card {
        width: 30%;
    }
}

@media screen and (max-width: 791px) {
    .Card {
        width: 46%;
    }

}

@media screen and (max-width: 600px) {
    .Card {
        width: 45%
    }

    .Title a {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
    }

    .price h4 {
        font-size: 16px;
        font-weight: 700;
        line-height: 8px;
    }

    .icon img {
        width: 18px;
    }

    .areaTime span {
        font-size: 12px;
        margin-right: 2px;
    }

    .Title a {
        font-size: 14px;
        line-height: 18px;
    }
}